.aside-wrapper{
    display: inline-block;
    width: 15%;
    float: right;
}

#aside-title{
    color: #565656;
}

button.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 2%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
    transition: 0.4s;
    border-bottom: solid #ddd 1px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
    color: crimson;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 5%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.aside-sub-nav{
    width: 100%;
    padding: 0;
}

.aside-sub-nav li{
    list-style: none;
    padding: 1% 0;
    border-bottom: solid #ddd 1px;
}

.aside-sub-nav li a{
    text-decoration: none;
    color: #444;
    display: inline-block;
    width: 100%;
}