@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

main {
    font-size:1em;
    margin: 2% auto;
    color:#727272;
    font-family:  'Roboto Condensed', Helvetica, sans-serif;
}

h1 {
    margin: 1% 1% 0 5%;
}

table {
    border-collapse: collapse;
}

.header-row {
    border: 1px solid #e2dcdc;
}

.header-empty {
    border-bottom: 1px solid #e2dcdc;
}

td {
    border: none;
    padding: 1% 1% 0.5% 1%;
    vertical-align: bottom;
    border-right: 1px solid #e2dcdc;
}

th {
    border: none;
    padding: 1% 0.5% 0.5% 0.5%;
    vertical-align: bottom;
    word-wrap:break-word;
    border-right: 1px solid #e2dcdc;
}

.evenRow {
    background-color: #f4f4f4;
}

.product-pic {
    display: block;
    width: 60%;
    margin: 1% auto;
}

.header-remove {
    border: none;
}

.remove_item {
    display: block;
    font-size: 1.5em;
    width: 10%;
    box-sizing:border-box;
    text-decoration: none;
    float: right;
    color: #565656;
    border: none;
    margin: 0;
    padding: 0;
}

.remove_item:hover {
    font-size: 1.75em;
    color: crimson;
}

.price {
    font-size: 0.85em;
}

.compare-page-save-button{
	text-align:center;
	border:0px;
	width:30%;
        line-height: 2.5em;
	outline:none;
	background-color:#c1121c;
	color:white;
        font-size: 0.85em;
}


.compare-page-save-button:hover{
	background-color: #820108;
	cursor: pointer;
}

.save-link {
    display: block;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    padding-top: 3%;
    color: white;
}

.hidden {
    display: none;
}