/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2017, 9:12:50 AM
    Author     : user
*/



body{
    margin: 0;
}
/*-------------HEADER-------------*/
.header-wrapper{
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    font-size: 12px;
    color: #565656;
    font-family: Arial,Helvetica,sans-serif;
}

.header-container1{
    width: 100%;
    color: #565656;
    background-color: #D7CEC7;
}

.header-row1{
    width: 1170px;
    box-sizing: border-box;
    margin: 0% 10%;
    display: inline-block;
    padding: 0.5% 2%;
    line-height: 0.3em;
}

#header-row1-left{
    display: inline-block;
    float: left;
    margin-left: -20px;
}

#header-row1-right{
    display: inline-block;
    float: right; 
}

.header-row2, .header-row3, .header-row4{
    width: 1170px;
    box-sizing: border-box;
    margin: 0% 10%;
    display: inline-block;
    padding: 0.5% 0.3%;
    background-color: white;
}

.header-ul, .greeting{
    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0% 3% 0% 2.5%;
    line-height: 2em;
}

.bold{
    font-weight: bold;
}

.header-ul a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding-left: 5px;
    height: 100%;
    width: 100%;
     -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}


.header-ul li{
    list-style: none;
    display: inline-block;
}

.header-contacts, .greeting{
    float: left;
}

.header-nav1{
    float: right;
}

.header-nav1 a:hover{
    background-color: #565656;
    color: white;
}

#header-logo{
    width: 30%;
    display: inline-block;
}

form.search-form{
    display: inline-block;
    width: 40%;
    margin-left:40px;
    margin-bottom:10px;
    vertical-align: text-bottom;

}

#search{
        line-height: 2em;
        width: 75%;
        margin-right: 0;
        background-color: #efeded;
        border:0.5px solid #bab6b6;
        padding: 1% 0 1% 2%;
        color: #918c8c;
        display: inline-block;
}

#search:hover{
    background-color: white;
    border:0.5px solid black;
    color: black;
}

#search-button{
    color: grey;
    background-color: #efeded;
    line-height: 2em;
    margin-left: -7%;
    box-shadow: none;
    border: none;
}

#search-button:hover{
    color: black;
}

.header-nav2, .show{
    float: right;
}

.show{
     margin-top: 0%;
}

.dropdown-currency{
    float: right;
    display: none;
    margin-top: 0%;
    position: absolute;
    background-color: white;
    border: solid #dbd6d6 1px;
    padding: 0 0.3%;
}

.dropdown-currency li{
    list-style: none;
    padding-bottom: 2%;
}



.header-row4{
    background-color: #D7CEC7;
    padding: 0;
}

.header-nav3{
    width: 100%;
    padding: 0;
}

.header-nav3 li{
    display: inline-block;
    box-sizing: border-box;
}

.header-nav3 li a{
    display: inline-block;
    box-sizing: border-box;
    color: #565656;
    width: 100%;
    height: 100%;
    padding: 0 8%;
}

.header-nav3 li a:hover{
    background-color: #565656;
    color: white;
}

/*-------------FOOTER-------------*/
.footer-wrapper{
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    background-color: #D7CEC7;
    font-size: 12px;
    color: #565656;
    font-family: Arial,Helvetica,sans-serif;
}

.footer-section{
    width: 1170px;
    box-sizing: border-box;
    margin: 0% 10%;
    display: inline-block;
    background-color: #D7CEC7;
    padding: 0.5% 2%;
}

.group1{
    background-color: white;
    border-bottom: solid #dbd6d6 1px;
    border-left: solid #dbd6d6 1px;
    border-right: solid #dbd6d6 1px;    
}

.footer-column{
    width: 24.5%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
}

ol.chooseUs {
  list-style-type: none;
  margin-left: 0;
}

ol.chooseUs > li {
  counter-increment: customlistcounter;
  margin-bottom: 1em;
}

ol.chooseUs > li:before {
  content: counter(customlistcounter);
  color: #fff;
  font-weight: bold;
  background-color: #a83c51;
  margin-right: .3em;
  padding: .6em .9em;
  border-radius: 100%;
  display: inline-block;
  float: left;
}

ol.chooseUs > li {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

ul.social-icons{
    width: 40%;
    box-sizing: border-box;
    display: inline-block;
    float:left;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 2%;
}

.social-icons li i{
    font-size:40px;
    color:#565656;
}

.subscribe-form{
    width: 40%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 2% 1%;
    height:100%;
}

#subscribe-button{
    color: white;
    background-color: #a83c51;
    float: right;
    line-height: 2.5em;
    margin-left: 1%;
    display: inline-block;
    width: 25%;
    height: 3em;
    vertical-align: middle;
    font-size: 11px;
}

#subscribe-button:hover{
    background-color: #842d3e;
    cursor: pointer;
}

.subscribe-form label{
    line-height: 1.5em;   
    font-size: 14px;
    display: inline-block;
    width: 30%;
    margin-top: 0;
}

#subscription-mail{
    font-size: 11px;
    line-height: 2.5em;
    padding-left: 1%;
    display: inline-block;
    width: 30%;
    height: 2.7em;
    vertical-align: middle;
    margin-left: 1%;
}

.footer-column ul, .footer-column ol{
    padding: 0;
}

.footer-column ul a{
    text-decoration: none;
    color: #565656;
    padding: 0;
}

.footer-column  a:hover{
    color: crimson;
}

.footer-column ul li{
    list-style: none;
    padding: 0.5% 0;
}

ul.footer-ul > li:before {
  content: ">";
  color: black;
  font-size: 0.75em;
  margin-right: .2em;
  padding: .5em .7em .6em;
}

ul.footer-ul > li:hover:before {
  content: ">";
  color: black;
  font-size: 0.75em;
  margin-left: .3em;
  margin-right: -.2em;
  padding: .5em .7em .6em;
}

span.footer-contacts{
    display: inline-block;
    vertical-align: middle;
    margin: 2% 0;
}

.footer-column h4{
    color: #565656;
    font-size: 1.3em;
    font-weight: normal;
}

.footer-column article{
    text-align: justify;
    padding-right: 5%;
    padding-top: 2%;
}

.fa-stack-2x{
    color: #a83c51;
    font-size: 2em;
}

.fa-stack-1x{
    color: white;
}

.fa-info-circle{
    vertical-align: text-top;
    display: inline;
    color: #a83c51;
    font-size: 3em;
    float: left;
    margin: 1% 2%;
}

#aboutUs-info{
    display: inline;
    vertical-align: top;
}

.footer-column article a{
    text-decoration: none;
    color:#565656;
}

.footer-column article a:hover{
    color:crimson;
}

#aboutUs-more-info:after{
    content: ">";
    margin: 0 3%;
}

hr{
    color: #D7CEC7;
    opacity: 0.2;
}

.copy-right{
    margin-left: 13px;
}
/*---------MAIN-----------*/
.main{
    width: 1170px;
    box-sizing: border-box;
    margin: 0% 10%;
    display: inline-block;
    padding: 0.5% 2%;
    font-size: 12px;
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    border-top: solid #dbd6d6 1px;
    border-left: solid #dbd6d6 1px;
    border-right: solid #dbd6d6 1px;
}

.main a{
    text-decoration: none;
    color:#680418;
}

.main a:hover{
    color: crimson;
}

/*-------------HOME-------------*/
.home-main{
    display: inline-block;
    float: left;
    width: 80%;
    margin: 2% 0;
}


.arrows-container {
    display: inline-block;
    margin-top: 1%;
    float: right;
}

.hideable {
    display: none;
}

.carousel-header{
    margin-top: 10%;
    margin-bottom: 0;
    color: #565656;
    font-weight: normal;
}

.HP-product-slides{
    width:15%;
    padding-right: 1.6%;
    display: block;
    float: left;
}

.HP-Slides{
    height: 100%;
}

.HP-product-img{
    width: 100%;
}

.HP-product-slides .HP-product-label{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #565656;
    font-size: 1.25em;
}

