.news-wrapper {
    padding: 1%;
    box-sizing: border-box;
    height: 800px;
    margin-top: 2%;
}

.home-page-news{
    display: inline-block;
    box-sizing: border-box;
    width: 27%;
    vertical-align: top;
    padding: 1%;
    font-size: 1.3em;
    margin-bottom: 1%;    
}

span.homepage-news-title{
    display: block;
    width: 80%;
    box-sizing: border-box;
    font-size: 1.5em;
    margin-bottom: 3%;
}

.homepage-news-content{
    display: inline-block;
    box-sizing: border-box; 
    text-align: justify;
    padding: 2% 0;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;    
}
