@CHARSET "UTF-8";

#create, #login, #profile, #edit_page, #edit_address, #edit_newsletter{
	font-size:1.2em;
	margin: 0 auto;
	color:#727272;
	font-family:  Arial, Helvetica, sans-serif;
}


div.main{
	padding-bottom: 90px;
}

h2{
	padding: 0px;
	padding-left: 20px;
}

h4{
	margin: 0px;

}

.login_sec{
	float: left;
	width: 46%;
	padding: 0 2%;
	 
}




a.button{
	display:inline-block;
	text-decoration:none;
	line-height:45px;
}

.button{
	text-align:center;
	border:0px;
	width:160px;
	height:45px;
	outline:none;
	background-color:#c1121c;
	color:white;
}


.button:hover{
	background-color: #820108;
	cursor: pointer;
}


.required{
	color:red;
	font-size: 13px;
}



input{
	display:block;
	height: 35px;
	width: 300px;
	outline: none;
}


input:hover{
	border:1px solid grey;
}

input:focus{
	border: 1px solid grey;
}



label{
	font-size:15px;
	display:block;
	color:#6f6f6f;
	font-weight: bold;
	margin-top: 20px;
}



#login section:nth-child(4)  a{
	display:block;
	color:grey;
	text-decoration: none;
}


#login_submit{
	margin-top: 20px;
}


#login section:nth-child(3)  p.required{
	margin-bottom: 6px;
}

.error{
	display: none;
}		

.error_show{
	color: red;
	font-size: 13px;
}



input.invalid{
	border: 2px solid red;
}

input.valid{
	border: 2px solid green;
}



.create_sec{
	padding: 0px 2%;
}

#create div{
	padding-left: 10px;
}

.floated{
	float:left;
}

.create_sec form div:nth-child(3){
	clear: left;
	padding-top: 10px;
}




input[type=checkbox]{
	width: 14px;
	margin-left: 10px;
	float:left; 
}

.checkbox{
	margin-top: 12px;
	margin-bottom: 50px;
}

#create_submit{
	float: right;
	margin-top: 80px;
	margin-right: 30px;
}

#create_submit p{
	margin-bottom: 3px;
}


.error_pass{
	display: none;
}		

.error_pass_show{
	color: red;
	font-size: 13px;
}


#create a{
	display:block;
	clear:both;
	text-decoration: none;
}

#error_msg{
	background-color:#f5dad3;
	margin:0px 30px 20px 30px;
	height: 60px; 
	display: none;
}

#error_msg p{
	display: inline-block;
	margin:0px;
	margin-top:8px;
}

#error_msg p:nth-child(2){
	margin-left:10px;
	font-size: 1em;
	color: #c5303d;	
}

#error_msg p:FIRST-CHILD{
	margin-left:30px;
	font-size: 30px;
	color: #c02230;
	font-weight: bolder;
}


.nav{
	float:left;
	width: 19%;
	padding-top: 30px;
	padding-left: 2%;
	padding-right: 2%;
	
}

nav ul{
	padding-left: 20px;
}
nav li{
	margin-bottom: 7px;
}

.nav img{
	width: 20px;
}

.sec{
	float:left;
	width: 70%;
}

.edit{
	font-size: 0.6em;
	float: right;
}

#profile h2{
	padding: 0px;
}


#profile h3, h5{
	margin-bottom: 0px;
	margin-top: 5px;
}


#profile a{
	text-decoration: none;
	color:#727272;
}

#profile a:hover{
	color:#c1121c;
}



#profile article div{
	float:left;	
	width: 50%;
	box-sizing:border-box;
	padding-right:12px; 
	padding-left:12px;	
}


#profile article div:FIRST-CHILD{
	border-right: 1px solid #727272;
}

#profile article:nth-child(9){
	clear: both;
	padding-top:30px;
}


.address{
	list-style: none;
	padding-left: 15px;
}

.nav a{
	text-decoration: none;
	color:#727272;
}

.nav a:hover{
	color:#c1121c;
}
.nav a:visited {
    color: #727272;
}

.nav span{
	font-size: 1.6em;
	padding-left: 10px;
}


#edit_page form div:nth-child(3){
	clear: left;
	padding-top: 10px;
}


#edit_page div{
	padding-left: 10px;
}



.success_msg{
	background-color:#e9ffca;
	margin:0px 30px 20px 30px;
	height: 60px; 
	display: none;
}

.success_msg p{
	display: inline-block;
	margin:0px;
	margin-top:8px;
}

.success_msg p:nth-child(2){
	margin-left:10px;
	font-size: 1em;
	color: #6f953a;	
}

.success_msg p:nth-child(3){
	margin-left:10px;
	font-size: 1em;
	color: #6f953a;	
}

.success_msg p:FIRST-CHILD{
	margin-left:30px;
	font-size: 30px;
	color: #6f953a;
	font-weight: bolder;
}



#edit_submit{
	float: right;
	margin-top: 80px;
	margin-right: 30px;
}



#address_article{
	background-color:#f5f5f5;
	padding: 10px;
	width: 400px;
	margin-left: 20px;
}


#address_submit{
	float: right;
	margin-top: 80px;
	margin-right: 30px;
	
}



#address_data div:nth-child(5){
	display:inline-block;
	margin-left: 10px;
}



#change_address{
	margin-left: 20px;
}


#subs_submit{
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}


#edit_newsletter input{
	margin-top: -7px;
}


#page_error{
	padding-bottom: 130px;
	color:#727272;
	font-family:  Arial, Helvetica, sans-serif;
}

#page_error p{
	font-weight: bold;
}

#page_error h1{
	font-size: 2.4em;
}

